@charset "utf-8";
/* CSS Document */
*{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0px;
}

html, head{
	height: 100%;
}

.tint {
    z-index: 1;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.5);    
}


@keyframes animate{
	0%
	{
		background-position: 0%;
	}
	100%
	{
		background-position: 400%;
	}
}
